.sponsors-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  overflow-x: hidden;
  height: 70rem;
  width: 100%;
}

.sponsors-title h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
}

.sponsor-carrousel {
  width: 100%;
}

.sponsors-parrafo p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: var(--text-gray);
  font-size: 1.7rem;
  font-weight: 450;
}

/*CARRUSEL*/

.carousel-container {
  margin-top: 2rem;
  overflow-x: hidden;
}

.carousel-card {
  align-items: center;
  background-color: var(--background-black) !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 35rem;
  padding: 2rem;
  width: 20%;

  img {
    object-fit: fill;
    height: 70%;
    width: 80%;
  }

  p {
    color: var(--text-white);
    font-size: 2rem;
    font-weight: bold;
  }

  &:hover {
    transform: scale(0.9);
    box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
      10px 10px 8px rgba(152, 133, 133, 0.392),
      15px 15px 8px rgba(139, 154, 139, 0.303);
  }

  border-radius: 10%;
  background: rgb(41, 40, 40);
}

.carousel-track {
  display: flex;
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 16px;
  width: 200%;
  height: 100%;
  animation: slide 40s linear infinite; /* Increase the duration to cover all the content */
}

.carousel-track:hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

@media (max-width: 899px) {
  .sponsors-section {
    padding: 3rem 0;
    width: 100%;
  }
  .sponsors-title h2 {
    font-size: 4rem;
  }

  .carousel-track {
    width: 200%;

    .carousel-card {
      height: 18rem;
      width: 16rem;
    }
  }

  @keyframes slide {
    0% {
      left: 0;
    }

    100% {
      left: -40%;
    }
  }
}
