.donations-section {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/src/public/img/dogs-donaciones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.90;
    mix-blend-mode: darken;
    width: 100%;
    position: relative;
}





.donations-title h3 {
    color: #000000;
    text-shadow: 0 0 9px #ffe6e6;
    font-family: "Montserrat", sans-serif;
    padding-top: 7rem;
    text-align: center;
    font-weight: 700;
    font-size: 6rem;
    display: block;

}

.donations-parrafo p {
    color: rgb(255 255 255);
    text-shadow: 0 0 8px #000000;
    text-align: center;
    padding: 25px 19%;
    font-family: "Montserrat",
        sans-serif;
    font-size: 2rem;
    font-weight: 450;
}

.donations-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;


}

.button-texto-donar {
    width: 32%;
    height: 5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 550;
    color: #ffffff;
    background-color: var(--text-red);
    cursor: pointer;
    border-radius: 1.5rem;
    margin-right: 1rem;

}

.button-texto-donar:hover {
    background-color: rgb(17 24 39 / 82%);
}


.button-texto-mas:hover {
    background-color: rgb(240, 240, 240);
}

@media (max-width: 899px) {
    .donations-section {
        padding: 3rem 2rem 5rem 2rem;
    }

    .button-texto-donar {
        width: 45%;
        font-size: 1.6rem;

    }
}