.donations-section {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/src/public/images/dogs-donaciones.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  mix-blend-mode: darken;
  width: 100%;
  padding: 8rem;
  position: relative;
}

.donations-title h2 {
  color: #000000;
  text-shadow: 0 0 9px #ffe6e6;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 6rem;
  display: block;
}

.donations-parrafo p {
  color: rgb(255 255 255);
  text-shadow: 0 0 8px #000000;
  text-align: center;
  padding: 25px 19%;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 450;
}

.donations-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-texto-donar {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  color: #ffffff;
  background-color: var(--background-red);
  cursor: pointer;
  border-radius: 1.5rem;
  margin-right: 1rem;
  padding: 2rem 4rem;
}

.button-texto-donar:hover {
  background-color: var(--text-secondary-red);
}

.button-texto-mas:hover {
  background-color: rgb(240, 240, 240);
}

@media (max-width: 899px) {
  .donations-section {
    background-attachment: unset;
    padding: 3rem 2rem 5rem 2rem;
  }

  .donations-title h2 {
    font-size: 4rem;
  }

  .button-texto-donar {
    font-size: 1.6rem;
    padding: 1.5rem 3rem;
  }
}
