.section-principal {
  background-color: rgb(107 114 128 / 12%);
  display: grid;
  padding: 3rem 6rem;
  grid-template-columns: repeat(2, 50%);
}

.container-dogs-principal {
  align-items: center;
  padding: 0px 19px 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 19px 0px 4px;
}

.container-dogs-principal h2 {
  font-family: "Montserrat", sans-serif;
  text-align: -webkit-center;
  margin-left: 2rem;
  font-size: 5rem;
}

.parrafo-dogs-principal {
  text-align: -webkit-center;
  width: 89%;
  padding: 18px 0px;
  margin-left: 3rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-gray);
  font-size: 1.8rem;
  font-weight: 450;
}

.container-vasquitos,
.vasquito-uno,
.vasquito-dos,
.vasquito-tres,
.vasquito-cuatro,
.vasquito-cinco,
.vasquito-seis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  gap: 2rem;
}

.container-vasquitos img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.container-button-vasquitos {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-ver-vasquitos {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 550;
    background-color: var(--background-red);
    color: #fafafa;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 2rem 4rem;
  }
}

.button-ver-vasquitos:hover {
  background-color: rgb(170, 17, 17);
}

@media (max-width: 899px) {
  .section-principal {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .container-dogs-principal h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 4rem;
  }
  .container-vasquitos {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;

    img {
      height: 20rem;
    }
  }

  .parrafo-dogs-principal {
    text-align: center;
  }

  .button-ver-vasquitos {
    width: 46%;
    height: 5rem;
    font-size: 1.4rem;
  }
}
