#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-top: 7.339rem;
}

.title-h1 {
  color: var(--text-black);
  font-size: 5rem;
}

.title-h2 {
  color: var(--text-black);
  font-size: 3rem;
}

.paragraph {
  color: var(--text-black);
  font-size: 2rem;
  max-width: 141rem;
}

.strong-text {
  font-weight: 900;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem 6rem;
  width: 100%;
}

.content {
  align-items: center;
  background-color: var(--background-white);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toast-success {
  font-size: 1.5rem;
}

.primary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  color: var(--text-white);
  background-color: var(--background-red);
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 2rem 4rem;
  width: 100%;
}

.primary-button:hover {
  background-color: var(--background-black);
}

.secondary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  color: var(--text-white);
  background-color: var(--background-black);
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 2rem 4rem;
  width: 100%;
}

.secondary-button:hover {
  background-color: var(--background-red);
}

.tertiary-button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 550;
  color: var(--text-white);
  background-color: gray;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 2rem 4rem;
  width: 100%;
}

.error-message {
  color: var(--text-red);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  background-color: var(--background-white) !important;
  -webkit-background-clip: text;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (width < 899px) {
  main {
    flex-grow: unset;
  }

  .title-h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .title-h2 {
    font-size: 2rem;
    text-align: center;
  }

  .paragraph {
    font-size: 1.5rem;
    text-align: center !important;
  }

  .toast-success {
    font-size: 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .content {
    padding: 2rem;
  }

  .vjs_video_3-dimensions {
    height: 16.2rem !important;
  }

  .video-js {
    height: 16.2rem !important;
  }

  .error-message {
    font-size: 1.5rem;
  }
}
