.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-black);
  padding: 2.5rem;
  width: 100%;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-icons {
  display: flex;
  align-items: center;
  padding: 6px 20px;
}

.icon-instagram,
.icon-facebook,
.icon-tiktok {
  width: 40px;
  margin: 10px;
}

.texto-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
}

@media (max-width: 899px) {
  .footer {
    flex-direction: column;
    padding: 0 0 3rem 0;
  }

  .icon-instagram,
  .icon-facebook,
  .icon-tiktok {
    width: 30px;
    margin: 20px;
  }

  .container-icons {

    margin: 0px 9%;
  }

  .icon-instagram,
  .icon-facebook,
  .icon-tiktok {
    width: 30px;
    margin: 20px;

  }

  .texto-footer {
    flex-direction: column;
    position: inherit;

  }


}