.container-Footer {

    margin: 0;
    padding: 0;
    width: 100%;
}

.footer {
    display: flex;
    background-color: var(--background-black);
    position: absolute;
    padding: 1.5rem;
    bottom: 0;
    width: 100%;

    color: white;

}

.container-Icons {
    display: flex;
    align-items: center;
    padding: 6px 20px;

}

.Icon-instagram,
.Icon-facebook,
.Icon-tiktok {
    width: 40px;
    margin: 10px;

}

.texto-Footer {
    margin: 80px 20% 10px;
    font-family: 'Montserrat', sans-serif;

}

.Parrafo-Footer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 1.5rem;



}

@media (max-width: 998px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1.5rem;
        padding: 40px 0px;
    }
}