header {
  width: 100%;
  background-color: var(--background-black);
  color: var(--text-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

/*MEDIA QUERIES*/

@media (max-width: 899px) {
  header {
    padding: 1rem 0rem;
  }
}