.nav-list {
    height: 56px;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    position: relative;

}

.ul-list {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    display: flex;
    gap: 2rem;
    margin-top: 5px;
}

.nav-link {
    color: #fafafa;
    font-size: 1.6rem;

}

.nav-link:hover {
    color: var(--text-gray);
}

.container-Logo {
    padding: 5px 10px;
    height: auto;
    margin-left: -24px;
    margin-bottom: 0px;

}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoVascos {
    height: 35px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 0 4px;
    margin-right: 10px;
}


.button-Donar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 550;
    position: absolute;
    right: 10px;
    background-color: var(--background-red);
    padding: 9px 24px;
    color: var(--text-white);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0.2rem;

}

.button-Donar:hover {
    background-color: rgb(170, 17, 17);
}

p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
}