.partners-special-paragraph {
  color: var(--text-secondary-red);
}

.partners-content {
  gap: 2rem;
  padding: 3rem;
  width: 100%;
}

.cards-wrapper {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.paragraph {
  text-align: center !important;
}

.card {
  background-color: var(--background-white);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 3rem;
  text-align: center;
  width: 30%;
}

.special-card {
  width: 80%;
}

.title-link {
  color: var(--text-secondary-red);
}

.card-icon {
  font-size: 5rem;
}

.rescued-partner-image {
  height: 27rem !important;
  object-fit: cover;
  width: 100% !important;
}

.form-wrapper-partners {
  background-color: var(--background-white);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem #00000026;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  padding: 3rem;
  width: 80%;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .input-wrapper {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      .form-input::placeholder {
        font-size: 1.8rem;
      }

      p {
        padding-left: 2rem;
      }
    }
  }
}

.wrapped-inputs {
  display: flex;
  gap: 3rem;
  width: 80%;
}

.submit-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;

  .info {
    font-size: 1.5rem;
  }

  .partner-button {
    border-radius: 100px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    height: 7rem;
    padding: 1rem 2rem;
    width: 40%;

    &:disabled {
      cursor: not-allowed;
    }

    &:not(:disabled) {
      background-color: var(--background-red);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      color: var(--text-white);
    }

    &:not(:disabled):hover, &:not(:disabled):hover .partner-link {
      background-color: var(--background-black);
    }
  }

  .partner-link {
    background-color: var(--background-red);
    border: none;
    color: var(--text-white);
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  appearance: none;
  background-color: var(--background-white) !important;
  cursor: pointer;
  outline: 0;
}

.custom-select::before {
  content: "▼";
  position: absolute;
  top: 2.9rem;
  right: 2.5rem;
  bottom: 0;
  padding: 0 1em;
  background: white;
  pointer-events: none;
  z-index: 1;
}

.custom-select select::-ms-expand {
  display: none;
}

/* MOBILE */

@media (width < 899px) {
  .partners-container {
    width: 90%;
  }

  .partners-content {
    text-align: center;
  }

  .cards-wrapper {
    flex-direction: column;

    .card {
      padding: 0rem 2rem 2rem 2rem;
      text-align: center;
      width: 100%;
    }
  }

  .form-wrapper-partners {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;

    form {
      .input-wrapper {
        align-items: center;
        width: 100%;

        .form-input::placeholder {
          font-size: 1.5rem !important;
        }

        p {
          padding-left: 0;
        }
      }
    }
  }

  .submit-container {
    .partner-button {
      font-size: 2rem;
      margin: unset;
      width: 100%;
    }
  }

  .wrapped-inputs {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .custom-select::before {
    top: 2.5rem;
  }

  .special-card {
    width: 100%;
  }
}
