header {
  align-items: center;
  background-color: var(--background-black);
  color: var(--text-white);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  height: 7.4rem;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/*MEDIA QUERIES*/

@media (max-width: 899px) {
  header {
    padding: 1rem 0rem;
  }
}
