.title-principal {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    color: var(--text-black);
    font-size: 5rem;
}

.container-dogs {
    padding: 3rem 9rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 26%);

}


.cards-dogs {
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem #00000026;
    width: 80%;
}

.img-dogs {
    height: 22rem;
    object-fit: cover;
    width: 93%;
    /* border-radius: 3rem; */
    margin: 7px;
}


.img-dogs:hover {
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

/*MODAL*/

.modal-container {
    <<<<<<< HEAD position: fixed;
    top: 0;
    left: 0;
    height: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background: rgb(255 255 255 / 0%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 14%);

    =======align-items: center;
    backdrop-filter: blur(0.8rem);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 14%);
    display: flex;
    height: -moz-available;
    height: -webkit-fill-available;
    justify-content: center;
    left: 0;
    padding-top: 7.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal-content {
    color: black;
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
    position: relative;
    width: 55%;
}

.modal-main {
    align-items: center;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.top-description-row {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.modal-image {
    border-radius: 1rem;
    /* object-fit: contain; */
    width: 60%;
}

.description-dogs {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100%;

    .dog-description-paragraph {
        font-size: 1.5rem !important;
        font-weight: normal !important;
        text-align: justify !important;
        text-indent: 1rem;
    }
}

h2 {
    text-align: center;
    color: var(--text-black);
    font-size: 3rem;
}

.adopt-buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.adoptar:hover,
.apadrina:hover {
    background-color: var(--background-black);
}

/* MOBILE */

@media (width < 899px) {
    .title-principal {
        font-size: 3rem;
    }

    .our-dogs {
        padding: 2rem;
    }

    .container-dogs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .title-principal {
        margin-left: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .close-icon {
        border-radius: 50%;
        border: var(--text-black) solid 0.3rem;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 2%;
    }

    .modal-content {
        border-radius: unset;
        height: 100%;
        overflow-y: scroll;
        padding: 6rem 2rem 2rem 2rem;
        width: 100%;
    }

    .modal-main {
        padding: unset;
    }

    .modal-image {
        object-fit: cover;
        width: 100%;
    }

    .top-description-row,
    .adopt-buttons {
        flex-direction: column;
    }

    >>>>>>>bd1df927eead688e3c4c76ea487aa3ab2a97d5f2
}

.modal-content {
    color: black
}


.modal-content {
    background-color: white;
    padding: 43px;
    width: 47%;
    height: 51%;
    border-radius: 3rem;
}

.description-dogs {
    text-align: center;
    color: var(--text-gray);
    font-size: 1.7rem;
    font-weight: 600;
}

.close-button {
    position: relative;
    left: 98%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 2rem;
}

h2 {
    text-align: center;
    color: var(--text-black);
    font-size: 3rem;
}

.adopt-button {
    display: flex;
    justify-content: center;
    align-items: center;
    <<<<<<< HEAD=======flex-direction: column;
}

.title-principal {
    margin-left: 0;
}

h2 {
    font-size: 2rem;
}

.close-icon {
    border-radius: 50%;
    border: var(--text-black) solid 0.3rem;
    cursor: pointer;
    margin-left: auto;
}

.modal-content {
    border-radius: unset;
    height: 100%;
    overflow-y: scroll;
    padding: 0 2rem 2rem 2rem;
    width: 100%;
}

.modal-main {
    gap: unset;
    padding: unset;
}

.close-container {
    background-color: var(--background-white);
    height: -webkit-fill-available;
    height: -moz-available;
    position: sticky;
    padding: 1rem 0;
    top: 0;
    width: 100%;
}

.modal-image {
    object-fit: cover;
    width: 100%;
}

.top-description-row,
.adopt-buttons {
    flex-direction: column;
}

.description-dogs {
    margin-bottom: 3rem;
}

>>>>>>>9590192602029b0fad064da8e4904a5936ad680e
}

.adoptar,
.apadrina {
    font-family: "Montserrat", sans-serif;
    width: 36%;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 550;
    right: 10px;
    background-color: var(--background-red);
    color: var(--text-white);
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0.2rem;
    margin: 2rem;

}

.adoptar:hover,
.apadrina:hover {
    background-color: var(--background-black);
}

/* MOBILE */

@media (width < 899px) {
    .container-dogs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        margin-left: 0.5rem;
        gap: 3.5rem;


    }

    .cards-dogs {
        width: 50%;
    }

    .title-principal {
        margin-left: 0;

    }

    .modal-container {}

    .modal-content {
        width: 61%;
        height: 55%;
    }


}