* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: unset;
}

:root {
  --background-primary: #3f88c5;
  --background-black: #140f2d;
  --background-red: #f22b29;
  --background-yellow: #f49d37;
  --text-white: rgb(255 255 255);
  --text-red: #d72638;
  --text-gray: rgb(107 114 128);

  --mobile-max-width: 899px;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  background-color: var(--background-primary);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  display: none;
}
